.ReviewsList {
  list-style: none;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
}

.ReviewsListItem {
  margin-bottom: 20px;
}
.ReviewsListItemAuthor {
  font-size: 23px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
