.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;

  margin: 0 auto;
  list-style: none;

  padding: 20px 10px;
}
.NavItem {
  text-decoration: none;
  font-size: 21px;
}
.NavLink {
  color: rgba(224, 3, 3, 0.815);
  transition: 0.2s ease-in;
}
.NavLink:hover {
  color: rgb(224, 3, 3);
}
