.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;

  margin: 0 auto;
  list-style: none;
  color: white;
  padding: 20px 10px;
  box-sizing: border-box;
}
.NavItem {
  text-decoration: none;
  font-size: 20px;
}
.NavLink {
  color: rgba(224, 3, 3, 0.815);
  transition: 0.2s ease-in;
}
.NavLink:hover {
  color: red;
}
